:root {
  /* Default values, these will be overwritten by JavaScript if cookies exist */
  --fontsize: 16px;
  --fontcolor: #000000;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  
  /* Apply the styles using the CSS variables */
  font-size: var(--fontsize);
  color: var(--fontcolor);
}